<!DOCTYPE html>

<html>
<head>
    <meta charset=utf-8">
    <title>Twig</title>
</head>
<body>
    <form method="post" action="processNewEmployee">
        <label> First name: </label> <br>
        <input type="text" id="1" name="data[]"></input> <br><br>
        <label> Last name: </label> <br>
        <input type="text" id="2" name="data[]"></input> <br><br>
        <label> Password: </label> <br>
        <input type="password" id="3" name="data[]"></input>
        <br> <br>
        <label> Team Leader ID: </label> <br>
        <input type="text" id="4" name="data[]"></input>
        <br> <br>
        <label> Project Manager ID: </label> <br>
        <input type="text" id="5" name="data[]"></input>
        <br> <br>
        <input name="submit" type="submit" value="Add employee">
    </form>
</body>
</html>