<!DOCTYPE html>

<html>
<head>
    <meta charset=utf-8">
    <title>Twig</title>
</head>
<body>
    <p> This is admin page </p>
    <form method="get" action="logOut">
        <input type="submit" value="Log out">
    </form> <br> 

    <form method="get" action="addNewAdmin">
        <input type="submit" value="Add new admin">
    </form> <br>

    <form method="get" action="addNewEmployee">
        <input type="submit" value="Add new employee">
    </form> <br>

    <form method="get" action="addNewTeamLeader">
        <input type="submit" value="Add new team leader">
    </form> <br>

    <form method="get" action="viewAdmins">
        <input type="submit" value="View admins">
    </form> <br>

    <form method="get" action="viewEmployers">
        <input type="submit" value="View employers">
    </form> <br>

    <form method="get" action="viewTeamLeaders">
        <input type="submit" value="View team leaders">
    </form> <br>

</body>
</html>