<!DOCTYPE html>

<html>
<head>
    <meta charset=utf-8">
    <title>Twig</title>
</head>
<body>

    <form method="post">
        <label> Employee ID: </label> <br>
        <input type="text" id="1" name="data[]"></input> <br><br>
        <label> First Name: </label> <br>
        <input type="text" id="2" name="data[]"></input> <br><br>
        <label> Last Name: </label> <br>
        <input type="text" id="3" name="data[]"></input> <br><br>
        <label> From Date: </label> <br>
        <input type="date" id="4" name="data[]"></input> <br><br>
        <label> To Date: </label> <br>
        <input type="date" id="5" name="data[]"></input> <br><br>

        <input type="submit" formaction="processHolidayRequest" value="Send holiday request"> <br><br>
    </form>
</body>
</html>